<!-- app/views/profiles/show.html.erb -->

<div class="profile-container">
  <h2>Profile</h2>

  <div class="profile-details">
    <p><strong>Username:</strong> <%= @user.username %></p>
    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Address:</strong> <%= @user.street %>, <%= @user.city %>, <%= @user.postal_code %>, <%= @user.province %></p>
  </div>

    <h2>Past Orders</h2>
  <% if @orders.present? %>
    <ul>
      <% @orders.each do |order| %>
        <li>
          <strong>Order #<%= order.id %></strong> - 
          Total: <%= number_to_currency(order.total_amount) %>
          <br>
          Subtotal: <%= number_to_currency(order.subtotal_amount) %>
          <br>
            PST: <%= number_to_currency(order.pst_amount) %>
            GST: <%= number_to_currency(order.gst_amount) %>
            HST: <%= number_to_currency(order.hst_amount) %>
          <ul>
            <% order.order_items.each do |item| %>
              <li><%= item.product.name %> - Quantity: <%= item.quantity %> - Unit Price: <%= number_to_currency(item.unit_price) %> - Total Price: <%= number_to_currency(item.unit_price * item.quantity) %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No past orders found.</p>
  <% end %>

  <%= link_to 'Edit Profile', edit_user_registration_path, class: 'edit-profile-link' %>
</div>
