<header x-data="{ open: false }" class="bg-white shadow-md">
  <div class="container mx-auto px-8 py-8 flex items-center justify-center">
    <div class="flex items-center">
      <a href="/" class="text-lg font-bold text-gray-900">Arkibo</a>
    </div>
    <div class="hidden md:flex flex-1 justify-center items-center space-x-10">
      <%= link_to 'Home', root_path, class: 'text-lg text-gray-700 hover:text-gray-900' %>
      <%= link_to 'Shop', products_path, class: 'text-m text-gray-700 hover:text-gray-900' %>
      <%= link_to 'About', about_path, class: 'text-m text-gray-700 hover:text-gray-900' %>
      <%= link_to 'Contact', contact_path, class: 'text-m text-gray-700 hover:text-gray-900' %>
      <%= link_to 'My Profile', profile_path %>
      <!-- Add other links here when available -->
           <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
        <%= link_to 'My Profile', profile_path %>

      <% end %>
    </ul>
    </div>
    <div class="hidden md:flex space-x-4 items-center">
      <!-- Add login and signup links when available -->
    </div>
    <div class="md:hidden">
      <button @click="open = !open" class="text-blue-700 focus:outline-none">
        <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>

  </div>
</header>
